body h4 {
    font-size: 1.5rem;
}

.search-box {
    border: 2px solid black;
    padding: 10px;
}

.inputField {
    width: 100%;
    margin-bottom: 5px;
}

.current-box {
    border: 2px solid black;
    padding: 10px;
}

.forecast-box {
    border: 2px solid black;
    padding: 10px;
}

#card {
    border: 1px solid black;
    background-color: rgb(82, 174, 254);
    font-size: 12px;
    height: 175px;

}

.search-box p {
    border-bottom: 1px solid black;
    width: 75%;
}